<div>
    <h3>Angular Pipe</h3>
    <p><strong>uppercase: </strong> <span>{{title | uppercase}}</span></p>
    <p><strong>lowercase: </strong> <span>{{title | lowercase}}</span></p>
    <p><strong>titlecase: </strong> <span>{{title | titlecase}}</span></p>
    <p><strong>currency: </strong> <span>{{dinero | currency}}</span></p>
    <p><strong>currency: 'EUR': </strong> <span>{{dinero | currency: 'EUR'}}</span></p>
    <p><strong>percent: </strong> <span>{{ganancias | percent}}</span></p>
    <p><strong>date: </strong> <span>{{fechaNacimiento | date}}</span></p>
    <p><strong>date: 'longDate': </strong> <span>{{fechaNacimiento | date: 'longDate'}}</span></p>
    <h3>Custom Pipe</h3>
    <!-- ng g pipe <NombreDelPipe> -->
    <div class="cuadrado">
        <p>{{textolargo | continuara}}</p>
    </div>


</div>